@import "options.css";

.poster-page__player-name-section {
    cursor: pointer;
}

.poster-page__player-name-section:hover {
    text-decoration: line-through;
}

.grow-shrink {
    flex: 1 1;
}

* {
    min-width: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-loading {
    animation: animate-opacity 3s infinite ease-in-out;
}

@keyframes animate-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.poster-area {
    position: relative;
    z-index: 1
}

/* .poster-area::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 0;
} */