.m-auto {
    margin: auto;
}


input[type="color"] {
    outline: none;
    border:none;
    padding: 0;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
    
    cursor: pointer;
}