@import "setup.css";
@import "navbar.css";
@import "input-field.css";
@import "../components/_general/spinner.css";
@import "../components/_general/info-popup.css";
@import "table.css";
@import "dropdown.css";
@import "player-anchor.css";
@import "landing-page.css";

.app-container {
    display: flex;
    flex-direction: column;
    width: min(100vw, 2000px);
}

body {
    overflow-x: hidden;
}

main {
    margin-top: 1rem;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

