
.dropdown {
    position: absolute;
    top: 100%;
    border: 1px solid var(--clr-primary);
    border-top: none;
    border-radius: 0 0 .2em .2em;
}

.dropdown .dropdown__option:last-of-type {
    border-bottom: none;
}

.input-with-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: .2rem;

}

.dropdown__option {
    border-bottom: 1px solid var(--clr-third);
    padding: .2em 1em;
    cursor: pointer;
}

.dropdown__option:hover {
    background-color: var(--clr-primary);
    color: var(--clr-fourth);
    font-weight: 700;
}

.input-field input,
.dropdown__option {
    background-color: var(--clr-fourth);
    color: var(--clr-primary);
    font-size: .8em;
}

.input-field input {
    border: 1px solid var(--clr-primary);
    border-bottom: none;
    border-radius: .2em .2em 0 0;
    margin-right: .5em;
    outline: none;
    padding: .2em .5em;
}

.dropdown, .input-field input {
    width: 100%;
}