.input-field {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field input {
    background-color: var(--clr-fourth);
    border: 1px solid var(--clr-primary);
    border-radius: .2em;
    margin-right: .5em;
    outline: none;
    padding: .2em .5em;
}

.input-field button {
    background-color: var(--clr-secondary);
    color: var(--clr-fourth);
    border: none;
    padding: .5em 1em;
    border-radius: .2em;
    font-size: var(--fs-300);


}

.input-field button:hover {
    background-color: var(--clr-fourth);
    color: var(--clr-secondary);
    cursor: pointer;
}

.input-field .bg-green {
    background-color: green;
    color: var(--clr-fourth);
}