.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    position: relative;
}

/* dot dot dot */
.loading::after {
    content: ".......";
    position: absolute;
    left: 88%;
    top: 0%;
    height: 100%;
    overflow: hidden;
    animation: change-width 2s infinite;
    color: var(--clr-primary);
    font-weight: 700;
    
}

@keyframes change-width {
    0% {
        width: 0%;
    }

    100% {
        width: 8%;
    }
}

