.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.input-field button {
    background-color: var(--clr-secondary);
    color: var(--clr-fourth);
    border: none;
    padding: .5em 1em;
    border-radius: .2em;
    font-size: var(--fs-300);


} */

/* .input-field button:hover {
    background-color: var(--clr-fourth);
    color: var(--clr-secondary);
    cursor: pointer;
} */

/* .input-field .bg-green {
    background-color: green;
    color: var(--clr-fourth);
} */

.loading {
    position: relative;
}


.loading::after {
    content: ".......";
    position: absolute;
    left: 88%;
    top: 0%;
    height: 100%;
    overflow: hidden;
    animation: change-width 2s infinite;
    color: var(--clr-primary);
    font-weight: 700;
    
}

@keyframes change-width {
    0% {
        width: 0%;
    }

    100% {
        width: 8%;
    }
}

