
.landing-page {
    background-color: white;
}

.teaser {
    font-size: larger;
    font-weight: 700;
    color: white
}

.landing-page-poster {
    min-height: calc(100vh - 4.2rem);
    background-image: url("../images/basketball_ball.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    position: relative;
}

.teaser-body {
    position: absolute;
    left: 60%;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teaser-body > * {
    text-align: center;
    margin: 2rem 1rem;
}

.teaser-body > * > span {
    color: yellow;
    text-shadow: 1px 1px var(--clr-primary);
    cursor: pointer;
    position: relative;

    transition: color .2s ease-in;
}

.teaser-body > * > span:hover,
.teaser-body > * > span:focus {
    color: var(--clr-fourth);
}

.teaser-body > * > span:hover::after,
.teaser-body > * > span:focus::after {
    content: "";
    position: absolute;
    left: -.5rem;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--clr-secondary);
    z-index: -1;
    outline: 1px solid var(--clr-fourth);

    animation: sudo-anim .2s ease-in;
}

@keyframes sudo-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}