
.landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.landing-page-body {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

.landing-page-image-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.landing-page-image {
    width: 40%;
    height: auto;
}

.landing-page-stat {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
    width: 40rem;
}

.landing-page-text-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}