
.list-number-container {
    height: auto;
    display: flex;
    overflow-x: auto;
    max-width: 100%;
}

.list-number {
    padding: .2rem .8rem;
    border: 1px solid black;
    border-radius: .5rem;
    margin: .1rem .2rem;
}

.list-number.active {
    background-color: gray;
}