
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-third);
    box-shadow: 0 5px 2px var(--clr-third);
    color: var(--clr-fourth);
    font-size: var(--fs-secondary-heading);
}

@media screen and (max-width: 600px){
    .navbar {
        flex-direction: column;
    }
}